* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

body {
   min-height: 100vh;
   background: #fff;
}

header .btn-mobile {
   color: #333 !important;
}

.banner {
   position: relative;
   width: 100%;
   background: url(../img/Chicken.jpg);
   background-size: cover;
   padding-top: 50%;
   background-position: center;
}

/* Introduce */
.introduce {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   padding: 40px;
}

.reveal {
   position: relative;
   transform: translateY(150px);
   opacity: 0;
   transition: all 2s ease;
}

.reveal.active {
   transform: translateY(0px);
   opacity: 1;
}
.introduce .introduce-list {
   width: 25%;
}

.introduce .introduce-list .introduce-img {
   text-align: center;
   max-width: 100%;
   animation: 1.5s ease-in-out 0s normal none infinite running move;
}

.introduce .introduce-list .introduce-des {
   margin-top: 10px;
}

.introduce .introduce-list .introduce-des .introduce-main {
   color: #383838;
   font-size: 1.125rem;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.3px;
   text-align: center;
}

.introduce .introduce-list .introduce-sup {
   color: #636363;
   font-size: 15px;
   margin: 0;
   text-align: center;
   margin-top: 6px;
}

@keyframes move {
   0% {
      transform: rotate(0deg) scale(1) skew(1deg);
   }

   10% {
      transform: rotate(-25deg) scale(1) skew(1deg);
   }

   20% {
      transform: rotate(25deg) scale(1) skew(1deg);
   }

   30% {
      transform: rotate(-25deg) scale(1) skew(1deg);
   }

   40% {
      transform: rotate(25deg) scale(1) skew(1deg);
   }

   50% {
      transform: rotate(0deg) scale(1) skew(1deg);
   }

   100% {
      transform: rotate(0deg) scale(1) skew(1deg);
   }
}

/* Food List */
.food .food-text {
   text-align: center;
   font-size: 2rem;
   margin: 50px;
   text-transform: uppercase;
}

.food .food-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.food .food-list .food-item {
   width: 20%;
   padding: 0 10px;
   margin: 8px 0;
   transition: all 0.25s ease-in;
}

.food .food-list .food-item:hover {
   transform: translateY(-5px);
}

.food .food-list .food-item .food-item-img a img {
   width: 100%;
   border-radius: 2px;
   border: 1px solid #ccc;
   box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.food .food-list .food-item .food-item-name {
   text-decoration: none;
   color: orangered;
   font-size: 1.2rem;
   margin-top: 10px;
   color: orangered;
}

.food .food-list .food-item .food-item-price {
   font-size: 0.8rem;
   margin-top: 1px;
   color: orangered;
}

/* Button */
.button {
   text-align: center;
   margin: 40px 0px 100px 0;
}

.food-more a {
   text-decoration: none;
   color: #fff;
   display: inline-block;
}

.food-more {
   background-color: #c47135;
   border: none;
   color: #ffffff;
   cursor: pointer;
   display: inline-block;
   font-size: 1em;
   font-size: 22px;
   line-height: 1em;
   margin: 15px 40px;
   outline: none;
   padding: 12px 40px 10px;
   position: relative;
   text-transform: uppercase;
   font-weight: 700;
}

.food-more:before,
.food-more:after {
   border-color: transparent;
   -webkit-transition: all 0.25s;
   transition: all 0.25s;
   border-style: solid;
   border-width: 0;
   content: "";
   height: 24px;
   position: absolute;
   width: 24px;
}

.food-more:before {
   border-color: #c47135;
   border-left-width: 2px;
   border-top-width: 2px;
   left: -5px;
   top: -5px;
}

.food-more:after {
   border-bottom-width: 2px;
   border-color: #c47135;
   border-right-width: 2px;
   bottom: -5px;
   right: -5px;
}

.food-more:hover,
.food-more.hover {
   background-color: #c47135;
}

.food-more:hover:before,
.food-more .hover:before,
.food-more:hover:after,
.food-more .hover:after {
   height: 100%;
   width: 100%;
}

/* Map */
.map img {
   width: 100%;
}
